<!DOCTYPE html>
<html>
	<head>
		<title>{{ TITLE }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/summoner.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />

		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="container clearfix">
					<div class="menu">
						<a href="/cp/submit">Submit</a>
					</div>
					<div class="title">
						<h1>Summoner Mod Repository</h1>
					</div>
				</div>
			</div>
			<div class="sub-header">
				<div class="container clearfix">
					<div class="return">
						<h3><a href="/">← Return to Index</a></h3>
					</div>
					<div class="title">
						<h2>{{ PHEADER }}</h2>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="content">
					{{{ CONTENT }}}
				</div>
			</div>	
			<div class="container">
				<div class="footer clearfix">
					<ul class="links right">
						<li><a href="http://www.scrollsguide.com/summoner">Summoner</a></li>
						<li><a href="//scrollsguide.com">Scrollsguide</a></li>
					</ul>
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/cp/submit">Submit</a></li>
						<li><a href="/cp/update">Update</a></li>
						<!--<li><a href="/help">Help</a></li>-->
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>