<div class="row">
	<div class="info no-title">
		<p>{{{ LONGDESC }}}</p>
		<div class="mod">
			<div class="title">
				<h4>Mod details</h4>
			</div>
			<div class="desc">
				<div class="long">
					<p>The {{ NAME }} mod is stored on the {{ REPONAME }} hosted Mod Repository for Summoner : Modloader for Scrolls.
					It is developed and maintained by {{ DEV }}.</p>
				</div>
				<div class="source clearfix">
					<div class="left">
						<p>Opensource link:</p>
						<p>Version:</p>
						<p>Downloads:</p>
						<p>Known bugs:</p>
					</div>
					<div class="right">
						<p><a href="{{ OPENSOURCE }}" target="_blank">{{ OPENSOURCE }}</a></p>
						<p>{{ VCODE }}, last updated {{ LASTUPDATE }}</p>
						<p>{{ DOWNLOADS }}</p>
						<p>{{ BUGS }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
