<div id="intro">
	{{ LONGDESC }}
</div>
<div class="item">
	<h3>Mod details</h3>
	<div class="desc">
		The {{ NAME }} mod is stored on the {{ REPONAME }} hosted Mod Repository for Summoner : Modloader for Scrolls.
		It is developed and maintained by {{ DEV }}.
	</div>
	<table class="desctable">
		<tr>
			<td style="width: 150px;"><b>Opensource link:</b></td>
			<td><a href="{{ OPENSOURCE }}" target="_blank"><code>{{ OPENSOURCE }}</code></a></td>
		</tr>
		<tr>
			<td><b>Version:</b></td>
			<td>{{ VCODE }}, last updated {{ LASTUPDATE }}</td>
		</tr>
		<tr>
			<td><b>Downloads:</b></td>
			<td>{{ DOWNLOADS }}</td>
		</tr>
	</table>
</div>