<div id="intro">
	Submitting a mod to the {{ REPONAME }} hosted Mod Repository for Summoner : Modloader for Scrolls
	will add your mod to the repository review queue. When the people running this repository have 
	finished reviewing your mod, it will be added to this repository, making it available to every
	player using this repository to download mods for Summoner. Please don't submit mods more than
	once - when it's submitted, people running this repository have received it and will begin reviewing
	it shortly. When your mod is accepted into this repository, you will receive information on how to
	submit updates for your mod.
</div>
<div class="item">
	<h3>Form details</h3>
	<div class="desc">
		The {{ NAME }} mod is stored on the {{ REPONAME }} hosted Mod Repository for Summoner : Modloader for Scrolls.
		It is developed and maintained by {{ DEV }}.
	</div>
	<table class="desctable">
		<tr>
			<td style="width: 150px;"><b>Mod name:</b></td>
			<td><input type="text" name="modname" /> a-zA-Z0-9</td>
		</tr>
		<tr>
			<td><b>Version:</b></td>
			<td>{{ VCODE }}, last updated {{ LASTUPDATE }}</td>
		</tr>
		<tr>
			<td><b>Downloads:</b></td>
			<td>{{ DOWNLOADS }}</td>
		</tr>
	</table>
</div>