<div class="row">
	<div class="title">
		<h4>Error!</h4>
	</div>
	<div class="info">
		<p>Your mod has not been added to the {{ REPONAME }} hosted Mod Repository review queue: {{ ERROR }}</p>
	</div>
</div>