<div id="intro">
	Your mod has been added to the {{ REPONAME }} hosted Mod Repository review queue. {{ REPONAME }}
	will start the review process soon, and you will receive notice when your mod is accepted in the
	repository. Make sure to keep your Mod Token nearby, you will need it for submitting future updates
	for your mod. To submit an update for a mod already in the repository, go to 
	<a href="/cp/update">{{ REPOURL }}cp/update</a>. Thanks for using Summoner!
</div>