Dear {{ DEVNAME }},

Your mod, '{{ MODNAME }}', has been updated to version {{ VERSION }} (v{{ VERSIONCODE }}) in the {{ REPONAME }} hosted Mod Repository for Summoner : Modloader for Scrolls.
The update will be auto-delivered to all the users using it.

Kind regards,

{{ REPONAME }}