Dear {{ DEVNAME }},

Your mod, '{{ MODNAME }}', has been added to the {{ REPONAME }} hosted Mod Repository for Summoner : Modloader for Scrolls.
It should be available from within the game Mods menu within 5 minutes. By then it will also be visible on {{ REPOURL }}.

Kind regards,

{{ REPONAME }}