body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	width: 800px;
	padding-left: 10px;
}

a {
	color: #000000;
}

a:hover {
	color: #666666;
}

hr {
	background: #d9d9d9;
	border-width: 0;
	color: #d9d9d9;
	height: 1px;
}

table {
	font-size: 0.85em;
}

td {
	vertical-align: top;
}

.desc {
	margin-left: 20px;
	margin-bottom: 5px;
}

.desctable {
	margin-left: 20px;
}

code {
	font-size: 1.3em;
	color: green;
}

.param div {
	margin-bottom: 10px;
	margin-left: 30px;
}